.footer{
    display : flex;
    justify-content: space-between;
    padding: 1em 3em 1em 3em;
    color : white;
    background-color: rgb(30, 29, 29);
    height: 25vh;

}

.description{
    width: 30%;
}
.description-title{
    font-size: 2em;
    margin: 0em 0em 0.3em;
}

.links-title{
    font-size: 1.5em;
    margin: 0em 0em 0.3em;
}

td{
    margin : 0.5em;
}